.THIS .discountInput{
    width: 22%;
}

.THIS .customButton {
    color: white !important;
    background-color: #36628B !important;
}
.THIS .backgroundColor {
          background-color: orange !important;

}