.THIS .buttonColor{
   background: steelblue;
}
.THIS .header th {
    background-color:steelblue;
    color:white;
    height:50px;
}

.THIS .slds-has-button-menu .slds-th__action {
    padding-right: var(--lwc-spacingXLarge,2rem);
    background-color: steelblue;
}

.THIS .th__action_form.slds-cell-fixed {
    color: white!important;
    background-color: steelblue!important;
}

.THIS .slds-th__action.slds-th__action_form.slds-cell-fixed {
    color: white!important;
    background-color: steelblue!important;
}