.THIS .slds-gutters .slds-col {
    width: 50%;
}
.THIS .slds-form-element__label{
    font-size: 13px;
    /* padding-bottom: 3px; */
    padding-top: 0px;
    padding-right: 0px;
} 
.THIS .slds-textarea {
    height: 50px;
    resize: none;
}
.THIS.docheading{
    font-size: 16px;
    padding: 5px 10px;
    color: #555;
    border: 1px solid #dddbda;
    background: #f3f2f2;
}
.THIS.docviewtable{
    width: 100%;
    position: relative;
    display: block;
    clear: both;
    margin: auto;
    border: 1px solid #dddbda;
    padding: 1%;
    overflow: auto;
    border-top: none;
}
.THIS.docviewtable .slds-table{
    border: 1px solid #dddbda;
}
.THIS.docviewtable .slds-table thead th {
    padding: 0.5rem;
    text-transform: uppercase;
    font-size: 12px;
    border-bottom: 1px solid #dddbda;
}
.THIS.docviewtable .slds-table tbody td {
    padding: 0.5rem;
    font-size: 12px;
    border-bottom: 1px solid #dddbda;
}
.THIS .slds-modal__container {
    margin: 0 auto;
    width: 28rem;
    max-width: 28rem;
    min-width: 20rem;
}
.THIS .slds-modal__header{
    border-bottom: 1px solid rgb(221, 219, 218);
}
.THIS .slds-text-heading_medium, .THIS .slds-text-heading--medium{
    text-align: left;
    font-weight: 600;
}
.THIS .slds-modal__close {
    top: 0.7rem;
    right: 0.5rem;
    background: #795a00;
    border-radius: 50%;
}
.THIS .imgview{
    width: 50%; margin: 0 auto; text-align: left
}
@media only screen and (max-width: 768px) {
    .THIS .imgview {
        width: 77%;
        margin: 0 auto;
        text-align: left;
    }
}
@media only screen and (max-width: 480px) {
    .THIS .slds-modal__container {
        margin: 0 auto;
        width: 28rem;
        max-width: 20rem;
        min-width: 20rem;
    }
    .THIS .imgview {
        width: 100%;
    }
}